@import "tailwindcss";
/* Custom global styles */
@theme {
  --color-primary-blue: #2563eb;
  --color-primary-dark: #1d4ed8;
  --color-primary-light: #dbeafe;

  --color-secondary-success: #059669;
  --color-secondary-warning: #d97706;
  --color-secondary-error: #dc2626;
  --color-secondary-info: #7c3aed;
  --color-background: HSL(0, 0%, 98%);
  --color-text-tertiary: #6b7280;
}
body {
  background-color: bg-gradient-to-br;
}
